.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary{
  background-color: #282c34;
  border: 1px solid black;
  transition: ease-in-out .3s;
}
.btn-primary:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  letter-spacing: 3px;
}

.card{
  background-color: #34373D;
  border-top: 4px solid #FFB800;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.card input{
  background-color: #43474D;
  border: none;
  color: white;
  border-radius: 20px; 
  transition: ease-in-out .2s;
}

.card input:focus{
  background-color: #282c34;
  border:none;
  color: white;
  outline: none;
}

.bi-caret-right-fill{
  color: #FFB800
}

.input-group {
  position: relative;
}
.input-group .btn{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
}

#navbar{
  background-color: #34373D !important;
  border-bottom: 2px solid #FFB800
}

.nav-link{
  font-weight: 700;
  font-size: 18px;
}

.bi-person-circle{
  font-style: normal !important;
  color: #ffc400;
}

.dd-item{
  font-size: 14px !important;
  font-weight: 600;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}